<div class="container">
  <div class="title">
    <h1>Check a Poker Hand</h1>
  </div>
  <div class="contents">
    <%= form_with  url: "/" do |f| %>
      <div class="form-group">
        <%= f.text_field :card, class: "form-control hand-input", size: 30 %>
        <%= f.submit "Check", class: 'btn btn-outline-primary check-btn' %>
      </div>
    <% end %>
    <div class="result">
      <%= @hand.card %>
    </div>
  </div>
</div>